################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LingLong.Admin.Web/obj/Debug
/LingLong.Admin.DAL/obj/Debug
/.vs/LingLong.Admin/v15
/LingLong.Admin.Model/obj/Debug
/LingLong.Admin.Common/obj/Debug
/LingLong.Admin.BLL/obj/Debug
/.vs/config
/LingLong.Admin.BLL/bin/Debug
/LingLong.Admin.Common/bin/Debug
/LingLong.Admin.DAL/bin/Debug
/LingLong.Admin.Model/bin/Debug
/LingLong.Admin.Web/bin
/.vs
/LingLong.Admin.BLL/obj/Release
/LingLong.Admin.Common/obj/Release
/LingLong.Admin.DAL/obj/Release
/LingLong.Admin.Model/obj/Release
/LingLong.Admin.Web/obj/Release
